*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "robotoregular";
  src: url("../font/Roboto-Regular-webfont.eot");
  src: url("../font/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Regular-webfont.woff2") format("woff2"), url("../font/Roboto-Regular-webfont.woff") format("woff"), url("../font/Roboto-Regular-webfont.ttf") format("truetype"), url("../font/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("../font/shrikand.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "robotoregular", sans-serif;
}

button {
  background: linear-gradient(#ef77CF, #9057D1);
  border-radius: 3rem;
  border-style: none;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  padding: 1.3rem 2.1rem;
  width: fit-content;
  color: white;
  font-size: 1.8rem;
  font-weight: bolder;
  transition: box-shadow 250ms, filter 250ms;
}
button:hover {
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.35);
  filter: brightness(110%);
}

.restaurantCard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 850px;
  height: 250px;
  color: black;
  margin: 3rem;
  border-radius: 1rem;
  background: white;
}
@media screen and (min-width: 1023px) {
  .restaurantCard {
    width: 30vw;
    min-width: 300px;
    max-width: 450px;
  }
}
@media screen and (min-width: 1489px) {
  .restaurantCard {
    width: 30vw;
    max-width: 650px;
  }
}
.restaurantCard__img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.restaurantCard__new {
  position: absolute;
  right: 0;
  padding: 0.7rem;
  margin: 1rem 1rem 0;
  color: #1b6150;
  background: #99E2D0;
}
.restaurantCard .footerCard {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
}

.footerPage {
  background: #353535;
  color: white;
  padding: 1.5rem;
}
.footerPage h1 {
  font-family: "shrikhand";
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.footerPage li {
  margin: 0.5rem 0;
}
.footerPage a {
  color: white;
}
.footerPage a:hover {
  text-decoration: underline;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search h1 {
  font-family: "shrikhand";
  background: white;
  margin: 1.6rem 0;
}
.search .location {
  font-size: 1.8rem;
  font-weight: 800;
  width: 100%;
  padding: 2rem 0;
  background: #f3f3f3;
  box-shadow: inset 0rem 0.3rem 0.4rem 0.1rem rgba(0, 0, 0, 0.1);
}
.search .information {
  background: #f6f6f6;
  width: 100%;
  padding-bottom: 2rem;
}
.search .information h2 {
  padding: 2rem 0;
}
.search .information p {
  padding: 0 3rem 1rem 3rem;
  word-wrap: break-word;
}

.help {
  margin: 3rem;
}
@media screen and (min-width: 1489px) {
  .help h2 {
    text-align: center;
  }
}
.help .container {
  margin-top: 1rem;
}
@media screen and (min-width: 1489px) {
  .help .container {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
}
.help .container .helpCard {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
  width: 100%;
  max-width: 750px;
  padding: 2rem;
  background-color: #f6f6f6;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1489px) {
  .help .container .helpCard {
    width: 420px;
  }
}
.help .container .helpCard__number {
  position: relative;
  left: -28px;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #f6f6f6;
  background: #9057D1;
  border-radius: 2rem;
  padding-top: 0.1rem;
}

.logo h1 {
  font-family: "shrikhand";
  text-align: center;
}

.restaurant {
  background: #f6f6f6;
  padding: 5rem 0 0.5rem 0;
}
.restaurant h2 {
  margin-left: 3rem;
}
@media screen and (min-width: 1023px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurant h2 {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1489px) {
  .restaurant h2 {
    align-self: center;
  }
}

@media screen and (min-width: 1023px) {
  .restaurantLayout {
    width: 1024px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1489px) {
  .restaurantLayout {
    width: 1490px;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo h2 {
  text-align: center;
  font-family: "shrikhand";
}

.restaurantPage__header {
  margin-top: -50px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  background: #f6f6f6;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding: 3rem 2rem;
  font-family: "shrikhand";
}

.restaurantPage {
  display: flex;
  flex-direction: column;
}
.restaurantPage__img img {
  object-fit: cover;
  width: 100%;
  max-height: 550px;
}
.restaurantPage__menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 1200px;
  padding: 3rem 2rem;
  background: #f6f6f6;
}
@media screen and (min-width: 1023px) {
  .restaurantPage__menu {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
}
.restaurantPage button {
  align-self: center;
}

.starter h3, .mainCourse h3, .dessert h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 3rem;
}

.plate {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
  border-radius: 2rem;
  padding: 1.6rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 1.8rem 0;
}
.plate__name span {
  font-weight: bold;
}
.plate__price {
  align-self: center;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
