//PAGE D'ACCEUIL - RESTAURANT (index.html)
.restaurant {
    background: $light-grey;
    padding: 5rem 0 .5rem 0;
    h2 {
        margin-left: 3rem
    }
    @include medium {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.restaurantLayout {
    @include medium {
        width: 1024px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    @include large {
        width: 1490px;
    }
}

//PAGE RESTAURANT
.restaurantPage__header {
    margin-top: -50px;

    display: flex;
    align-self: center;
    justify-content: space-between;

    width: 100%;
    max-width: $width-menu;
    
    background: $light-grey;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 3rem 2rem;
    font-family: 'shrikand';
}

.restaurantPage {
    display: flex;
    flex-direction: column;
    &__img {
        img {
            object-fit: cover;
            width: 100%;
            max-height: 550px;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        
        width: 100%;
        max-width: $width-menu;
        
        background: $light-grey;
        @include medium {
            flex-direction: row;
        }
    }
}

.footerMenu {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 100%;
    max-width: $width-menu;

    padding: 4rem 0;
    background: $light-grey;

    button {
        align-self: center;
    }
}
        
.starter, .mainCourse, .dessert {
    overflow: hidden; //Permet à chaque .plate de shrink en ellipsis (= min-width: 0;)
    @include medium {
        width: 100%;
    }

    margin: 0 2rem;
    h3 {
        font-weight: normal;
        text-transform: uppercase;
    }
    .underlineTitle {
        width: 50px;
        height: 4px;
        background: $new-color;

        margin-top: .5rem;
    }
}

.plate {
    display: flex;
    justify-content: space-between;

    background: $light-color;
    border-radius: 2rem;
    padding: 1.6rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    
    margin: 2rem 0;

    &__name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        > span {
            font-weight: bold;
        }
        > p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

    }
    &__price {
        align-self: center;
        font-weight: bold;
        padding-left: 3rem;
    }
}