//PAGE D'ACCEUIL - RESTAURANT (index.html)
.restaurant {
    background: $light-grey;
    padding: 5rem 0 .5rem 0;
    h2 {
        margin-left: 3rem
    }
    @include medium {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.restaurantLayout {
    @include medium {
        width: 1024px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    @include large {
        width: 1490px;
    }
}

//PAGE RESTAURANT
.restaurantPage__header {
    margin-top: -50px;

    display: flex;
    align-self: center;
    justify-content: space-between;

    width: 100%;
    max-width: $width-menu;
    
    background: $light-grey;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 3rem 2rem;
    font-family: 'shrikand';
}

.restaurantPage {
    display: flex;
    flex-direction: column;
    &__img {
        img {
            object-fit: cover;
            width: 100%;
            max-height: 550px;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        
        width: 100%;
        max-width: $width-menu;
        
        background: $light-grey;
        @include medium {
            flex-direction: row;
        }
    }
}

.footerMenu {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 100%;
    max-width: $width-menu;

    padding: 4rem 0;
    background: $light-grey;

    button {
        align-self: center;
    }
}
        
.starter, .mainCourse, .dessert {
    overflow: hidden; //Permet à chaque .plate de shrink en ellipsis (= min-width: 0;)
    margin: 0 2rem;   
    @include medium {
        width: 100%;
    }
    h3 {
        font-weight: normal;
        text-transform: uppercase;
    }
    .underlineTitle {
        width: 50px;
        height: 4px;
        background: $new-color;

        margin-top: .5rem;
    }
}

.plate {
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    overflow: hidden;

    background: $light-color;
    
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);

    margin: 2rem .6rem;
    &__name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        
        padding: 1.6rem 0 1.6rem 1.6rem;
        span {
            font-weight: bold;
        }
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .validate {
        display: flex;

        transition: all .5s;
        &__price {
            align-self: center;

            font-weight: bold;
            margin: 0 1.6rem 0 1rem;
        }
        &__bg {
            position: absolute;
            left: 100%;

            background: $new-color;
            padding: 2.2rem;
            i {
                color: $light-color;

                transition: all .5s;
                transform: rotate(180deg);
            }
        }
    }
    &:hover {
        .validate {
            transform: translate(-140%);
            &__bg {
                i {
                transform: rotate(0deg);
                }
            }
        }
    }
}


//Chargement du menu
#case1 {
    animation: menu-item-loading 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 0ms;
}
#case2 {
    animation: menu-item-loading 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 100ms;
}
#case3 {
    animation: menu-item-loading 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 200ms;
}
#case4 {
    animation: menu-item-loading 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 300ms;
}
#case5 {
    animation: menu-item-loading 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 400ms;
}
#case6 {
    animation: menu-item-loading 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 500ms;
}
#case7 {
    animation: menu-item-loading 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 600ms;
}
#case8 {
    animation: menu-item-loading 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 700ms;
}
#case9 {
    animation: menu-item-loading 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: 800ms;
}