button {
    background: linear-gradient(
        $primary-color,
        $secondary-color
    );
    border-radius: 3rem;
    border-style: none;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1.3rem 2.1rem;

    color: $light-color;
    font-size: 1.8rem;
    font-weight: bolder;

    transition: box-shadow 250ms, filter 250ms;
    &:hover {
        cursor: pointer;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.35);
        filter:brightness(110%);

    }
}