.heart {
    .fa-solid {
        display: none;
        background-image: linear-gradient(
            $primary-color,
            $secondary-color
            );
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover {
        .fa-regular {
            display: none;
        }
        .fa-solid {
            display: inline;
            animation: heart 10s forwards;
            
        }
    }
    
}