*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2, h3, span, p {
    &::first-letter {
        text-transform: capitalize;
    }
}