$primary-color: #ef77CF;
$secondary-color: #9057D1;

$new-color: #99E2D0;
$background-footer-color: #353535;
$light-color: white;

$light-grey: #f6f6f6;
$mid-grey: #f3f3f3;
$dark-grey: rgb(68, 68, 68);