@keyframes roll-in {
0% {
    transform: scale(0) rotate(-540deg);
    opacity: 0;
}
100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}
}
  

@keyframes menu-item-loading {
    
} 

@keyframes menu-item {

}

@keyframes heart {

}


